@use "../styles/variables" as *;

.about {
  position: relative;
  z-index: 2;

  margin-top: -170px;
  padding-bottom: 100px;

  .about-card {
    background: $primary;
    border-radius: 26px;
    padding: 40px;
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
  }

  h2 {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 18px;
    color: $white;
    line-height: 1.05;
  }

  p {
    color: $white;
    font-size: 19px;
    line-height: 1.7;
  }

  // --- image miroir + effet cadre blanc ---
  .about-photo-wrap {
    width: min(320px, 100%);
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 20px;
      border: 2px solid $white;
      transform: translate(16px, 16px);
      z-index: 2;
    }
  }

  .about-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top; //  garde le haut de l'image visible
    border-radius: 20px;
    position: relative;
    z-index: 1;

    transform: scaleX(-1);
  }

  @media (max-width: 991.98px) {
    padding: 120px 0 80px;

    .about-card {
      padding: 26px;
    }

    h2 {
      font-size: 36px;
      text-align: center;
    }

    p {
      text-align: center;
    }

    .about-photo-wrap {
      margin: 0 auto;
      width: min(260px, 100%);
    }
  }
}
