@use "../styles/variables" as *;

nav.navbar {
  padding: 18px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  transition: 0.32s ease-in-out;

  border-bottom: 1px solid $border-light;
  box-shadow: 0 2px 6px $shadow-light;

  @media (max-width: 1199.98px) {
    background-color: $white;
  }

  &.scrolled {
    padding: 10px 0;
    background-color: $white;
  }

  .navbar-brand img {
    height: 70px;
    width: auto;
    display: block;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-item {
      .nav-link {
        font-weight: 400;
        color: $text-muted;
        letter-spacing: 0.8px;
        padding: 0 25px;
        font-size: 18px;
        transition: 0.3s;

        //pour empêcher le wrap du à propos
        white-space: nowrap;

        &:hover {
          color: $primary;
        }

        &.active {
          color: $primary;
          font-weight: 700;
        }
      }
    }
  }
}

li.navbar-icons {
  display: flex;
  align-items: center;

  button.connect {
    font-weight: 700;
    color: $primary;
    border: 1px solid $primary;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    transition: color 0.3s ease-in-out;

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      width: 0%;
      height: 100%;
      position: absolute;
      background-color: $primary;
      left: 0;
      top: 0;
      z-index: 0;
      transition: width 0.3s ease-in-out;
    }

    &:hover {
      color: $white;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: transparent;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid $primary;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $primary;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: 0;
  }

  &:hover::before {
    transform: scale(1);
  }

  img {
    width: 40%;
    z-index: 1;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  &:hover img {
    filter: brightness(0) invert(1);
  }
}
