@font-face {
  font-family: "Morna";
  src: url("./assets/fonts/Morna-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Surgena";
  src: url("./assets/fonts/Surgena-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Surgena";
  src: url("./assets/fonts/Surgena-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Surgena";
  src: url("./assets/fonts/Surgena-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Surgena";
  src: url("./assets/fonts/Surgena-Bold.woff2") format("woff2");
  font-weight: 700;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #fff !important;
  color: #121212 !important;
  font-family: "Morna", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* CSS par défaut */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
